*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}
.container{
    display: flex;
    height: 100vh;
    background-color: rgb(0, 24, 104);
    flex-direction: column;
    overflow: hidden;
}

.header{
    padding: 10px;
    background-color:  rgb(0, 24, 104);
    color: white;
}

.header h1{
    display: inline;
    font-size: 50px;
    margin-left: 20px;
}

.card{
    height: 80%;
    background-color:  rgb(37, 66, 160);
    justify-items: center;
    align-content: center;
}

.inputs{
    padding: 10px;
    font-size: 30px;
    margin: 20px;
    padding: 20px;
    border-radius: 15px;
    color: white;
    background-color:rgb(0, 24, 104);
}
.inputs input{
    margin: 20px;
    padding: 5px;
    font-size: 15px;
    border-radius: 5px;
}

.buttons button{
    color: rgb(0, 0, 0);
    font-size: 12px;
    border-radius: 15px;
    padding: 10px;
    background-color: rgb(147, 166, 228);
    border-color: rgb(77, 98, 168);
    margin: 10px;
}
.resultado{
    color: white;
    padding: 20px;
    font-size: 17px;
}