*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
.container{
    display: flex;
    height: 100vh;
    width: 100vw;
    flex-direction: column;
    overflow: hidden;
}

.header{
    height: 10%;
    background-color: rgb(46, 46, 46);
    align-content: center;
    color: white;
}
.header h1,span{
    display: inline;
    font-size: 50px;
    margin-left: 20px;
}

.card{
    height: 90%;
    background-color: rgb(99, 99, 99);
    justify-items: center;
    align-content: center;
}

.inputs{
    padding: 30px;
    font-size: 60px;
    color: white;
}
.inputs input{
    margin: 20px;
    padding: 30px;
    font-size: 20px;
    border-radius: 15px;
}

.buttons button{
    color: rgb(0, 0, 0);
    border-radius: 25px;
    padding: 30px;
    border-color: rgb(209, 209, 209);
    margin: 10px;
}